body{
    margin: 0;
    padding: 0;
}
.form-body{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
span{
    padding-top: 30px;
}
button{
    margin-top: 15px;
    width: 50%;
}