body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background: #1e1e1e;
    padding: 25px;
    border-radius: 20px;
    width: 350px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    color: white;
    min-height: 50vh;
}
input{
    width: 60%;
    margin-bottom: 10%;
    padding: 8px;
    border-radius: 8px;
    border: none;
    width: 70%;
}
button{
    background: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 25%;
    margin-bottom: 10%;
}
#addTask:hover{
    background: #45a049;
}
#filters{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}

.input-group{
    display: flex;
    gap: 10px;
}
.input-group input{
    flex: 1;
}
.input-group button{
    padding: 8px 12px;
}

input:checked + label{
    background: #4CAF50;
    color: white;
}
#filters label{
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 8px;
    transition: 0.3s;
}
#filters label:hover{
    background: #333;
}
#emptyState{
    text-align: center;
    color: gray;
    margin-top: 20px;
}

li{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-radius: 8px;
    /* align-items: center; */
}

li button{
    background: red;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 5px 8px;
}

li:hover{
    background: rgba(255, 255, 255, 0.05);
}

li{
    transition: 0.3s;
}

.completed{
    text-decoration: line-through;
    opacity: 0.6;
}